.form {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    color: white;
    padding: 10px;
    border: none;
    margin: 10px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}